.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px 20px;
}

.logo-container {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  height: 140px;
  fill: white;
  margin-right: 25px; 
}

.logo-text {
  font-size: 120px;
  font-weight: bold;
  color: white;
}
.search {
  display: flex;
  align-items: center;
 
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: auto;
}

.search__input {
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  width: 200px;
}

.search__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search__icon {
  fill: white;
  width: 20px;
  height: 20px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  text-transform: uppercase;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}
